files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIC5jCCAc4CCQCoRGEsDkcIIjANBgkqhkiG9w0BAQsFADA1MQswCQYDVQQGEwJV
      UzESMBAGA1UECAwJV2lzY29uc2luMRIwEAYDVQQHDAlNaWx3YXVrZWUwHhcNMjQw
      NDA4MDA0NTU1WhcNMjUwNDA4MDA0NTU1WjA1MQswCQYDVQQGEwJVUzESMBAGA1UE
      CAwJV2lzY29uc2luMRIwEAYDVQQHDAlNaWx3YXVrZWUwggEiMA0GCSqGSIb3DQEB
      AQUAA4IBDwAwggEKAoIBAQC9YovB5kaDyzNzDQUsGj1fJeo8QSNqH45DS7v1Pwwi
      O0z2OTTw6G9iRwMlZf4NTIeLQ8QqiDMirMZcUiZyw/j6q7NY6nlKhIqc9toHapBN
      OFF0JQRaWbptVMWwT60r7t2LEFzOJGDH3+pBXb1nhhnQKSid29Ns0t4cUhkNoC2t
      Zw6QXbQTvYH0FTzHcCHMcZW+YLdPcnox+eoL3QyjqWqINh1twHxQC0LRAnZOI2oT
      nNbY4hGiBtqgkoxSfRZ4nK2dg3DRgZxfoaYh3iVhDf2DFDxwWeOpDG/EOxnP69xn
      490DbeRr+hOHJf46cAG4m8uHbNcCKaK7y55I/IDZlrFHAgMBAAEwDQYJKoZIhvcN
      AQELBQADggEBAH0oCCk2t5u42nwWDyok9ZZhtI1gXBabvf2tBpC94eQ3jOv74khY
      EBUPMiC3UjwHNwNS/2dFG0q+fwYaEDcmkpSf6N4Gr0ELfQtD+akxjNmBJ5BYO8P+
      PsaatNd9+NC1w/CzRFD/Z0PirMI1O/TGQqqI5exlM2GBUkzwYFzAuApAL3BL87hs
      xn5H/B7lP6HPLfbTkR3qjRFi5EoqSRXL+GWTIm4BwJQtRkrQ1sWHVE/q6M0JmOlR
      gmB7Yas5yepkN68MZ+N/tO1TPFcR4WEEmYYRimQqjH7JGy+gXoiDkmz7r/cXotrD
      rnJkTRd+WydrTD9bwOO/gBeBnvvxC9edYXY=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEAvWKLweZGg8szcw0FLBo9XyXqPEEjah+OQ0u79T8MIjtM9jk0
      8OhvYkcDJWX+DUyHi0PEKogzIqzGXFImcsP4+quzWOp5SoSKnPbaB2qQTThRdCUE
      Wlm6bVTFsE+tK+7dixBcziRgx9/qQV29Z4YZ0CkondvTbNLeHFIZDaAtrWcOkF20
      E72B9BU8x3AhzHGVvmC3T3J6MfnqC90Mo6lqiDYdbcB8UAtC0QJ2TiNqE5zW2OIR
      ogbaoJKMUn0WeJytnYNw0YGcX6GmId4lYQ39gxQ8cFnjqQxvxDsZz+vcZ+PdA23k
      a/oThyX+OnABuJvLh2zXAimiu8ueSPyA2ZaxRwIDAQABAoIBABBj/wSBEYlGhOVo
      MxJmEvmxJlygppgAsydP3qyTEFHGIBsPSG2xMDKpQrRx51LvVKvQ6aFkuEg/+8rx
      sTItk9beFV+Uq3qvje+XzbbmmiaUwTf0HDRVn7TmqVVhD/PFcJcgi2er7lReJMAT
      hNj42jMR3NoMtHeuqFp7IH/1ZP6kzmF8LHJ/GSBEa7pGh53NOlRB4GI6JBpHSLJp
      vmBMLkC/gT2uzx+Wgpuim195aEtkhbdiK+ksst1XFvEcGtd8H4/OMMZRWIFP2HJs
      0JJMobpsjJvcIa4INrByqrgvd4UpBxcBitUPsv3Fr5FQoXeG999H1MECU4nQ7H3w
      d/ADLIECgYEA9Os7qclyLxgftIVPnLdt89qxWxACkpPewMYGLL3o2D3fMaUIXVdG
      bImdqDjddYTZPIGT1qNQBmWZrzAjcmHEuGVueRCre352rbqpEi6/VrXB+9ebSedb
      3/yHyFHZ04gNI6cgWHNgCXQx3O/vddI+5SWXr5sPrd12qRtNbvWfo1kCgYEAxfQX
      qZU8t6B+Mr474Dzf4V77VkkSdmcSAAi1QmDDKhRHqo6Vmits/1gg99+ebalEGC3J
      kYBPvcB7BHtlvTPGq2IRVLTTSwFJlQGCNYnQGDijLRSPDNdEv8XVeioz/Rx5YCyc
      5k1W4Ko2U4ZuXgleAp/zTUcB66ebzd936/TLhZ8CgYAlE2sfw8gOSweZq0im/7mc
      XbHViDHrgIkLA68xnLof6hXcjRAcGTcm/RopuhoETU0ZdMAtkOFvZngCZjYnfZdr
      FqfHmfdrpXRPzl8DyqHafX9VIYl3gZeN68ueTo28EO90QzuJSEX0iGt397Z3TpGI
      3Mz+n2mbN1hcNy7cqkA1WQKBgHaJ9gWCLarUe93NFzPvoC1oYF/KQDkQ/bFxhYGr
      ShOPs17KJYH90TaTQqLMkSWf//vup07vJFE/yyri7gi/0Y9dmX09D25R5gtJrPx8
      e1WVzPk433TUEAI66NxQG3PNsk1KSeaLl6PPqdqYnMzJFTfDKsIy7E5+vwkocbql
      i56HAoGAVWP1wrIHr/odzMEKQ61Ab7Ku5ny2zQLX6PvnB0EGHOaUeAdQJwv27lYZ
      8IgrfGCAohgekaJsDuwG/XqP6jFD6KAEIiKP39SpsMhUQwpfAbMri4f1O8f5QTD+
      UzpQ0s/GEcuGnywRHgIrOWp0J5VNs7c8D5pRfuE5qtKVNoyW1ug=
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart