/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Raleway", sans-serif;
    color: #212529;
}

a {
    color: #eb5d1e;
    text-decoration: none;
}

a:hover {
    color: #ef7f4d;
    text-decoration: none;
}

form button, .btn-primary {
    background: #eb5d1e;
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    border: none;
}

form button:hover {
    background: #ef7f4d;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
    font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 72px;
    transition: all 0.5s;
    z-index: 997;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
    font-size: 30px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #7a6960;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

#main {
    margin-top: 72px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.navbar a,
.navbar a:focus {
    padding: 10px 0 10px 30px;
    font-size: 15px;
    color: #4e4039;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #eb5d1e;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    background: #eb5d1e;
    color: #fff;
    padding: 10px 25px;
    margin-left: 30px;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background: #ee7843;
}
/*MAKE SURE YOU DON'T USE A FLEX CONTAINER WITHOUT ADJUSTING FOR THIS*/
.flex-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

h1#nav-logo {
    padding-top: 15px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 70vh;
    background: #fef8f5;
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
}

#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #4e4039;
}

#hero h2 {
    color: #a08f86;
    margin: 15px 0 0 0;
    font-size: 24px;
}

#hero .btn-get-started, form button {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 3px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #eb5d1e;
}

#hero .btn-get-started:hover {
    background: #ef7f4d;
}
/*--------------------------------------------------------------
# Search Poem Archives
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Add Poem
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq {
    padding: 60px 0;
}

.faq .faq-list {
    padding: 0;
    list-style: none;
}

.faq .faq-list li {
    border-bottom: 1px solid #eae7e5;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.faq .faq-list .question {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    padding-left: 25px;
    cursor: pointer;
    color: #f2520b;
    transition: 0.3s;
}

.faq .faq-list i {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: -2px;
}

.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 25px;
}


